In [2]:
import kaggle

In [3]:
dataset_1={"metadata":'''Context Machine Learning with R by Brett Lantz is a book that provides an introduction to machine learning using R. As far as I can tell, Packt Publishing does not make its datasets available online unless you buy the book and create a user account which can be a problem if you are checking the book out from the library or borrowing the book from a friend. All of these datasets are in the public domain but simply needed some cleaning up and recoding to match the format in the book.

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance''',"name":"Medical Cost Personal Datasets","url":"https://www.kaggle.com/mirichoi0218/insurance"}

In [4]:
print (dataset_1)

{'metadata': "Context Machine Learning with R by Brett Lantz is a book that provides an introduction to machine learning using R. As far as I can tell, Packt Publishing does not make its datasets available online unless you buy the book and create a user account which can be a problem if you are checking the book out from the library or borrowing the book from a friend. All of these datasets are in the public domain but simply needed some cleaning up and recoding to match the format in the book.\n\nage: age of primary beneficiary\n\nsex: insurance contractor gender, female, male\n\nbmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,\nobjective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9\n\nchildren: Number of children covered by health insurance / Number of dependents\n\nsmoker: Smoking\n\nregion: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.\n\ncharges: Individual medical costs billed by health insurance", 'name': 'Medical Cost Personal Datasets', 'url': 'https://www.kaggle.com/mirichoi0218/insurance'}

In [5]:
dataset_2={"metadata":'''McCarran International Airport in Las Vegas is one of the busiest airpots in the United States. It was built in 1942 and is expanding continuously since then. It has employed various innovative technologies over the year.

As part of its latest innitiative, it is planning to minimize the waiting time and improve the effective usage of its runways. The obstruction to achieve this is uncertain arrivals of flights.''',"name":"Airport Dataset","url":"NA"}

In [6]:
dataset_3={"metadata":'''An Institute of Management Studies was established a few years ago. The first batch of management students has graduated and the placement season is just over. The Placement Committee wants to analyze the placements of this batch in order to improve the placements for subsequent batches. The Committe wants to check if any of the following factors play a role in deciding whether a candidate gets placed or not. It also wants to check if any of these features have any impact on the salaries.

Factors:
1. Percentages of various Levels/Exams such as 10th, 12th, Degree, MBA and Entrance Test
2. Streams, Technologies, Specialisations chosen at various levels
3. Previous work experience
4. Gender
The purpose of this notebook is to analyze the placement data of 215 candidates based on various factors and comment on the relationships and signficance of these factors.
### Dataset Attributes:

1. *sl_no*: Serial Number
2. *gender*: Gender (M or F)
3. *ssc_p*: 10th Grade Percentage
4. *ssc_b*: Board of Education in 10th (Central/Others)
5. *hsc_p*: 12th Grade Percentage
6. *hsc_b*: Board of Education in 12th (Central/Others) 
7. *hsc_s*: Specialisation in 12th (Commerce/Science/Arts)
8. *degree_p*: Percentage in UG
9. *degree_t*: UG field of Education (Comm&Mgmt/Sci&Tech/Others)
10. *workex*: Yes or No
11. *etest_p*: Employability Test Precentage
12. *specialisation*: MBA Field of Specialisation (Mkt&HR/Mkt&Fin)
13. *mba_p*: Percentage in MBA
14. *status*: Placement status (Place/Not Placed)
15. *salary*: Salary offered in INR/Annum''',"name":"placement_data","url":"NA"}

In [7]:
dataset_4 = {"metadata":'''We have a dataset of students in a university. The dataset has following columns:
    1. stud.id
    2. name
    3. gender
    4. age
    5. height
    6. weight
    7. religion
    8. nc.score
    9. semester
    10. major
    11. minor
    12. score1
    13. score2
    14. online.tutorial
    15. graduated
    16. salary''',"name":"university_data","url":"NA"}

In [8]:
dataset_5={"metadata":'''*__Airbnb__* is an American online vacation-place rental company. It offers services such as lodging, homestays and other tourism services. It has become very popular in recent times due to its cheaper rental options.

A Travel Agent assists customers to book rooms on Airbnb with a small commission. The agent has to constatntly keep track of the availability of rooms and recommend appropriate options to customers.

Let us see how the avaialbility of rooms in different cities can be analyzed using *Probability*.''',"name":"airbnb","url":"NA"}

In [9]:
dataset_6={"metadata":'''Kerala is one of the worst flood-hit states in India. In August 2020, the state was hit by floods that resulted due to heavy rainfall and caused damage of hundreds of crore rupees. Every year, the state experiences casualty and damages upto some extent due to heavy rainfall.

Data of monthly rainfall in Kerala from 1901 to 2018 is provided. It also contains information of floods. Use this information to calculate upto what extent the heavy rainfall is responsible for floods in Kerala.### Attributes in the Dataset:

__YEAR__: Year between 1901 to 2018

__JAN, FEB,..., DEC__:Rainfall in mm in the specified month

__ANNUAL RAINFALL__: Total rainfall in mm in that year

__FLOODS__: YES or NO, in that year''',"name":"kerala_floods","url":"NA"}

In [10]:
dataset_7={"metadata":'''Dataset from Davide Chicco, Giuseppe Jurman: â€œMachine learning can predict survival of patients with heart failure from serum creatinine and ejection fraction alone. BMC Medical Informatics and Decision Making 20, 16 (2020)

The columns in this dataset:
    1. age
    2. anaemia
    3. creatinine_phosphokinase
    4. diabetes
    5. ejection_fraction
    6. high_blood_pressure
    7. platelets
    8. serum_creatinine
    9. serum_sodium
    10. sex
    11. smoking
    12. time	
    13. DEATH_EVENT''',"name":"heart_survival","url":"NA"}

In [11]:
dataset_8={"metadata":'''The original dataset contains 1000 entries with 20 categorial/symbolic attributes prepared by Prof. Hofmann. In this dataset, each entry represents a person who takes a credit by a bank. Each person is classified as good or bad credit risks according to the set of attributes.An analyst wants to analyze the data provided to know the customers to whom the bank gives credit. He does analysis on the data to gain the insights of the customers.
    1. Age (numeric)
    2. Sex (text: male, female)
    3. Job (numeric: 0 - unskilled and non-resident, 1 - unskilled and resident, 2 - skilled, 3 - highly skilled)
    4. Housing (text: own, rent, or free)
    5. Saving accounts (text - little, moderate, quite rich, rich)
    6. Checking account (numeric, in DM - Deutsch Mark)
    7. Credit amount (numeric, in DM)
    8. Duration (numeric, in month)
    9. Purpose (text: car, furniture/equipment, radio/TV, domestic appliances, repairs, education, business, vacation/others)
    10. Risk (text: good,bad)''',"name":"German Credit Data","url":"NA"}

In [12]:
dataset_9={"metadata":'''"This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace."

Figure the essential parameters affecting mental health and its acceptance
Timestamp - Time the survey was submitted
Age - Respondent age
Gender - Respondent gender
Country - Respondent country
state - If you live in the United States, which state or territory do you live in?
self_employed - Are you self-employed?
family_history - Do you have a family history of mental illness?
treatment - Have you sought treatment for a mental health condition?
work_interfere - If you have a mental health condition, do you feel that it interferes with your work?
no_employees - How many employees does your company or organization have?
remote_work - Do you work remotely (outside of an office) at least 50% of the time?
tech_company - Is your employer primarily a tech company/organization?
benefits - Does your employer provide mental health benefits?
care_options - Do you know the options for mental health care your employer provides?
wellness_program - Has your employer ever discussed mental health as part of an employee wellness program?
seek_help - Does your employer provide resources to learn more about mental health issues and how to seek help?
anonymity - Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?
leave - How easy is it for you to take medical leave for a mental health condition?
mental_health_consequence - Do you think that discussing a mental health issue with your employer would have negative consequences?
phys_health_consequence - Do you think that discussing a physical health issue with your employer would have negative consequences?
coworkers - Would you be willing to discuss a mental health issue with your coworkers?
supervisor - Would you be willing to discuss a mental health issue with your direct supervisor(s)?
mental_health_interview - Would you bring up a mental health issue with a potential employer in an interview?
phys_health_interview - Would you bring up a physical health issue with a potential employer in an interview?
mental_vs_physical - Do you feel that your employer takes mental health as seriously as physical health?
obs_consequence - Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?
comments - Any additional notes or comments''',"name":"mental_health","url":"NA"}

In [13]:
dataset_10={"metadata":'''A food confectionary is undergoing a tough time in sales and wants use machine learning to turn their fortunes around. They have captured their daily transaction data from 30th Oct 2016 to 9th Apr 2017 and want to understand what are all the food bundles that are popular among their customers. 

Your job is to perform <b>Market Basket Analysis</b> using the Apriori algorithm and recommend the confectionary the food bundles that they should be marketing more. ''',"name":"food_dataset","url":"NA"}

In [14]:
dataset_11 = {"metadata":'''**Problem:**The dataset is from a bank, using which we have to predict whether the subject subscribes to a term deposit or not.<br/>

**Attributes:**
The dataset has the following attributes:<br/>
1  - age (numeric)<br/>
2  - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                    "blue-collar","self-employed","retired","technician","services"). <br/>
3  - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)<br/>
4  - education (categorical: "unknown","secondary","primary","tertiary")<br/>
5  - default: has credit in default? (binary: "yes","no")<br/>
6  - balance: average yearly balance, in euros (numeric) <br/>
7  - housing: has housing loan? (binary: "yes","no")<br/>
8  - loan: has personal loan? (binary: "yes","no")<br/>
9  - contact: contact communication type (categorical: "unknown","telephone","cellular") <br/>
10 - day: last contact day of the month (numeric)<br/>
11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")<br/>
12 - duration: last contact duration, in seconds (numeric)<br/>
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)<br/>
14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client      was not previously contacted)<br/>  
15 - previous: number of contacts performed before this campaign and for this client (numeric)<br/>
16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")<br/>
**Response Variable (desired target):**<br/>
17 - y - has the client subscribed to a __term deposit?__ (binary: "yes","no")''',"name":"bank_deposit","url":"NA"}

In [15]:
dataset_12={"metadata":'''The dataset consists of 10000 individuals and whether their credit card has defaulted or not. 

**Objective :**  

Predict whether the individual will default in their credit card payment.

Below are the column description:
- **default** : Whether the individual has defaulted
- **student** : Whether the individual is student
- **balance** : The average balance that the customer has remaining on their credit card after making their monthly payment
- **income** : Income of individual''',"name":"credit_default","url":"NA"}

In [16]:
dataset_13={"metadata":'''Mining companies face problems regarding the impurities present in Ore. More the impurities poorer the ore. 
In this problem we have to classify the **Grade** (quality) of Iron ore at the end process based on Silica present. <br/> 
Grade 1- Supreme Quality<br/>
Grade 2- Good Quality<br/>
Grade 3- Average Quality<br/>
Grade 4- Poor Quality''',"name":"mining_data","url":"NA"}

In [17]:
dataset_14={"metadata":'''This dataset contains properties sold in New York City over a 12-month period from September 2016 to September 2017. The objective is to build a model to predict sale value in the future.''',"name":"nyc_data","url":"NA"}

In [18]:
dataset_15={"metadata":'''Goal of this project is to **predict the sales** of a Retail outlet based on the historical data provided for sales.**Item Identifier**: A code provided for the item of sale <br>
**Item Weight**: Weight of item <br>
**Item Fat Content**: A categorical column of how much fat is present in the item : ‘Low Fat’, ‘Regular’, ‘low fat’, ‘LF’, ‘reg’ <br>
**Item Visibility**: Numeric value for how visible the item is  <br> 
**Item Type**: What category does the item belong to: ‘Dairy’, ‘Soft Drinks’, ‘Meat’, ‘Fruits and Vegetables’, ‘Household’, ‘Baking Goods’, ‘Snack Foods’, ‘Frozen Foods’, ‘Breakfast’, ’Health and Hygiene’, ‘Hard Drinks’, ‘Canned’, ‘Breads’, ‘Starchy Foods’, ‘Others’, ‘Seafood’. <br>
**Item MRP**: The MRP price of item <br>
**Outlet Identifier**: Which outlet was the item sold. This will be categorical column <br>
**Outlet Establishment Year**: Which year was the outlet established <br>
**Outlet Size**: A categorical column to explain size of outlet: ‘Medium’, ‘High’, ‘Small’.  <br> 
**Outlet Location Type**: A categorical column to describe the location of the outlet: ‘Tier 1’, ‘Tier 2’, ‘Tier 3’  <br>
**Outlet Type** : Categorical column for type of outlet: ‘Supermarket Type1’, ‘Supermarket Type2’, ‘Supermarket Type3’, ‘Grocery Store’  <br>
**Item Outlet Sales**: The amount of sales for an item.  <br> 
**Source**: Whether the data is from train or test.  <br>''',"name":"sales_prediction","url":"NA"}

In [19]:
dataset_16={"metadata":'''Due to prevalent fraud in finance domain, it is imperative for credit card companies to be able to recognize fraudulent credit card transactions so that customers are not charged for items that they did not purchase.
The datasets contains transactions made by credit cards in September 2013 by European cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions.Classify fraudulent transaction from non fraudulent transactions using machine learning algorithms.''',"name":"financial_fraud","url":"NA"}

In [20]:
dataset_17={"metadata":'''The dataset gives you information about a marketing campaign of a financial institution in which you will have to analyze in order to find ways to look for future strategies in order to improve future marketing campaigns for the bank.The data set is imbalanced with 4521 instances and 17 columns.1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                    "blue-collar","self-employed","retired","technician","services") 

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric) 

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")

9 - contact: contact communication type (categorical: "unknown","telephone","cellular") 

10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  
15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

 Response Variable (desired target):__

17 - y - has the client subscribed to a __term deposit?__ (binary: "yes","no")''',"name":"fa_marketing","url":"NA"}

In [21]:
import pandas as pd
final_df=pd.DataFrame([dataset_1,dataset_2,dataset_3,dataset_4,dataset_5,dataset_6,dataset_7,dataset_8,dataset_9,dataset_10,dataset_11,dataset_12,dataset_13,dataset_14,dataset_15,dataset_16,dataset_17])

In [22]:
data_new=[{"metadata":"This is a financial dataset","name":"Finance","url":"https://bakshi.com"}]
dataset_new=pd.DataFrame(data_new)

In [23]:
dataset_new

                      metadata     name                 url
0  This is a financial dataset  Finance  https://bakshi.com

In [24]:
final_df.append(dataset_new,ignore_index=True)

,metadata,name,url
0,Context Machine Learning with R by Brett Lantz...,Medical Cost Personal Datasets,https://www.kaggle.com/mirichoi0218/insurance
1,McCarran International Airport in Las Vegas is...,Airport Dataset,NA
2,An Institute of Management Studies was establi...,placement_data,NA
3,We have a dataset of students in a university....,university_data,NA
4,*__Airbnb__* is an American online vacation-pl...,airbnb,NA
5,Kerala is one of the worst flood-hit states in...,kerala_floods,NA
6,"Dataset from Davide Chicco, Giuseppe Jurman: â...",heart_survival,NA
7,The original dataset contains 1000 entries wit...,German Credit Data,NA
8,"""This dataset is from a 2014 survey that measu...",mental_health,NA
9,A food confectionary is undergoing a tough tim...,food_dataset,NA
10,"**Problem:**The dataset is from a bank, using ...",bank_deposit,NA
11,The dataset consists of 10000 individuals and ...,credit_default,NA
12,Mining companies face problems regarding the i...,mining_data,NA
13,This dataset contains properties sold in New Y...,nyc_data,NA
14,Goal of this project is to **predict the sales...,sales_prediction,NA
15,"Due to prevalent fraud in finance domain, it i...",financial_fraud,NA
16,The dataset gives you information about a mark...,fa_marketing,NA
17,This is a financial dataset,Finance,https://bakshi.com

In [25]:
len(final_df)

17

In [26]:
final_df

,metadata,name,url
0,Context Machine Learning with R by Brett Lantz...,Medical Cost Personal Datasets,https://www.kaggle.com/mirichoi0218/insurance
1,McCarran International Airport in Las Vegas is...,Airport Dataset,NA
2,An Institute of Management Studies was establi...,placement_data,NA
3,We have a dataset of students in a university....,university_data,NA
4,*__Airbnb__* is an American online vacation-pl...,airbnb,NA
5,Kerala is one of the worst flood-hit states in...,kerala_floods,NA
6,"Dataset from Davide Chicco, Giuseppe Jurman: â...",heart_survival,NA
7,The original dataset contains 1000 entries wit...,German Credit Data,NA
8,"""This dataset is from a 2014 survey that measu...",mental_health,NA
9,A food confectionary is undergoing a tough tim...,food_dataset,NA
10,"**Problem:**The dataset is from a bank, using ...",bank_deposit,NA
11,The dataset consists of 10000 individuals and ...,credit_default,NA
12,Mining companies face problems regarding the i...,mining_data,NA
13,This dataset contains properties sold in New Y...,nyc_data,NA
14,Goal of this project is to **predict the sales...,sales_prediction,NA
15,"Due to prevalent fraud in finance domain, it i...",financial_fraud,NA
16,The dataset gives you information about a mark...,fa_marketing,NA

In [27]:
import numpy as np
import os
from flask import Flask, render_template, session, request,send_from_directory,redirect,url_for,request
from oauth2client.contrib.flask_util import UserOAuth2
from flask_pymongo import PyMongo
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
from uuid import uuid4

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
#df_data = pd.read_csv("NewQuip.csv")
df_desc = final_df['metadata']
# Instantiate a TfidfVectorizer object
vectorizer = TfidfVectorizer()
# It fits the data and transform it as a vector
X = vectorizer.fit_transform(df_desc)
# Convert the X as transposed matrix
X = X.T.toarray()
# Create a DataFrame and set the vocabulary as the index
df = pd.DataFrame(X, index=vectorizer.get_feature_names())

In [29]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
10,0.000000,0.0,0.034055,0.122564,0.0,0.000000,0.098511,0.047611,0.000000,0.000000,0.026075,0.000000,0.0,0.000000,0.0,0.0,0.032097
1000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.078285,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
10000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.108597,0.0,0.000000,0.0,0.0,0.000000
10th,0.000000,0.0,0.167985,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
11,0.000000,0.0,0.036754,0.132281,0.0,0.000000,0.106321,0.000000,0.000000,0.000000,0.028142,0.000000,0.0,0.000000,0.0,0.0,0.034642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yes,0.000000,0.0,0.039948,0.000000,0.0,0.055764,0.000000,0.000000,0.000000,0.000000,0.122347,0.000000,0.0,0.000000,0.0,0.0,0.150605
york,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.221812,0.0,0.0,0.000000
you,0.117068,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.380556,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.082669
your,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.312625,0.104418,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
œmachine,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.161979,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000

In [30]:
def get_similar_articles(q, df):
  video_list = []
  print("query:", q)
  # Convert the query become a vector
  q = [q]
  q_vec = vectorizer.transform(q).toarray().reshape(df.shape[0],)
  sim = {}
  # Calculate the similarity
  for i in range(10):
    sim[i] = np.dot(df.loc[:, i].values, q_vec) / np.linalg.norm(df.loc[:, i]) * np.linalg.norm(q_vec)
  
  # Sort the values 
  sim_sorted = sorted(sim.items(), key=lambda x: x[1], reverse=True)
  # Print the articles and their similarity values
  for k, v in sim_sorted:
    if v != 0.0:
      print("Cosine Similarities:", v)
      print ("Recommendation",k)
      print(final_df.iloc[k]['name'])
      video_desc = final_df.iloc[k]['name']
      video_list = video_list + [video_desc]
      print()
  return video_list
# Add The Query

In [31]:
# Add The Query
q1 = '''According to Epsilon research, 80% of customers are more likely to do business with you if you provide personalized service. Banking is no exception.

The digitalization of everyday lives means that customers expect services to be delivered in a personalized and timely manner… and often before they´ve even realized they need the service. In their 3rd Kaggle competition, Santander Group aims to go a step beyond recognizing that there is a need to provide a customer a financial service and intends to determine the amount or value of the customer's transaction. This means anticipating customer needs in a more concrete, but also simple and personal way. With so many choices for financial services, this need is greater now than ever before.

In this competition, Santander Group is asking Kagglers to help them identify the value of transactions for each potential customer. This is a first step that Santander needs to nail in order to personalize their services at scale.'''
# Call the function
output = get_similar_articles(q1, df)
print (output)

query: According to Epsilon research, 80% of customers are more likely to do business with you if you provide personalized service. Banking is no exception.

The digitalization of everyday lives means that customers expect services to be delivered in a personalized and timely manner… and often before they´ve even realized they need the service. In their 3rd Kaggle competition, Santander Group aims to go a step beyond recognizing that there is a need to provide a customer a financial service and intends to determine the amount or value of the customer's transaction. This means anticipating customer needs in a more concrete, but also simple and personal way. With so many choices for financial services, this need is greater now than ever before.

In this competition, Santander Group is asking Kagglers to help them identify the value of transactions for each potential customer. This is a first step that Santander needs to nail in order to personalize their services at scale.
Cosine Similarities: 0.2854002603891628
Recommendation 9
food_dataset

Cosine Similarities: 0.20664504328574487
Recommendation 8
mental_health

Cosine Similarities: 0.2046520255886866
Recommendation 4
airbnb

Cosine Similarities: 0.19588713466597163
Recommendation 0
Medical Cost Personal Datasets

Cosine Similarities: 0.1939160956546029
Recommendation 5
kerala_floods

Cosine Similarities: 0.18786029918311783
Recommendation 1
Airport Dataset

Cosine Similarities: 0.18423465918004822
Recommendation 2
placement_data

Cosine Similarities: 0.1830331239277642
Recommendation 7
German Credit Data

Cosine Similarities: 0.06602914567793745
Recommendation 6
heart_survival

Cosine Similarities: 0.029256617738166686
Recommendation 3
university_data

['food_dataset', 'mental_health', 'airbnb', 'Medical Cost Personal Datasets', 'kerala_floods', 'Airport Dataset', 'placement_data', 'German Credit Data', 'heart_survival', 'university_data']

In [32]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sk250164\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [33]:
def most_similar(doc_id,similarity_matrix,matrix):
    print (f'Document: {final_df.iloc[doc_id]["metadata"]}')
    print ('\n')
    print ('Similar Documents:')
    if matrix=='Cosine Similarity':
        similar_ix=np.argsort(similarity_matrix[doc_id])[::-1]
    elif matrix=='Euclidean Distance':
        similar_ix=np.argsort(similarity_matrix[doc_id])
    for ix in similar_ix:
        if ix==doc_id:
            continue
        print('\n')
        print (f'Document: {final_df.iloc[ix]["name"]}')
        print (f'{matrix} : {similarity_matrix[doc_id][ix]}')

In [34]:
tagged_data = [TaggedDocument(words=word_tokenize(doc), tags=[i]) for i, doc in enumerate(final_df.metadata)]
model_d2v = Doc2Vec(vector_size=100,alpha=0.025, min_count=1)
  
model_d2v.build_vocab(tagged_data)

for epoch in range(100):
    model_d2v.train(tagged_data,
                total_examples=model_d2v.corpus_count,
                epochs=model_d2v.epochs)
    
document_embeddings=np.zeros((final_df.shape[0],100))

for i in range(len(document_embeddings)):
    document_embeddings[i]=model_d2v.docvecs[i]
    
    
pairwise_similarities=cosine_similarity(document_embeddings)
pairwise_differences=euclidean_distances(document_embeddings)

most_similar(10,pairwise_similarities,'Cosine Similarity')
most_similar(10,pairwise_differences,'Euclidean Distance')

Document: **Problem:**The dataset is from a bank, using which we have to predict whether the subject subscribes to a term deposit or not.<br/>

**Attributes:**
The dataset has the following attributes:<br/>
1  - age (numeric)<br/>
2  - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                    "blue-collar","self-employed","retired","technician","services"). <br/>
3  - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)<br/>
4  - education (categorical: "unknown","secondary","primary","tertiary")<br/>
5  - default: has credit in default? (binary: "yes","no")<br/>
6  - balance: average yearly balance, in euros (numeric) <br/>
7  - housing: has housing loan? (binary: "yes","no")<br/>
8  - loan: has personal loan? (binary: "yes","no")<br/>
9  - contact: contact communication type (categorical: "unknown","telephone","cellular") <br/>
10 - day: last contact day of the month (numeric)<br/>
11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")<br/>
12 - duration: last contact duration, in seconds (numeric)<br/>
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)<br/>
14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client      was not previously contacted)<br/>
15 - previous: number of contacts performed before this campaign and for this client (numeric)<br/>
16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")<br/>
**Response Variable (desired target):**<br/>
17 - y - has the client subscribed to a __term deposit?__ (binary: "yes","no")


Similar Documents:


Document: fa_marketing
Cosine Similarity : 0.7462029827687895


Document: credit_default
Cosine Similarity : 0.5852024136136459


Document: food_dataset
Cosine Similarity : 0.5749779417343959


Document: nyc_data
Cosine Similarity : 0.4699259393459914


Document: heart_survival
Cosine Similarity : 0.4629531586649311


Document: financial_fraud
Cosine Similarity : 0.4627614130419615


Document: mining_data
Cosine Similarity : 0.4496193699048106


Document: mental_health
Cosine Similarity : 0.4243044727500621


Document: kerala_floods
Cosine Similarity : 0.41787794549307933


Document: sales_prediction
Cosine Similarity : 0.3873967325806628


Document: German Credit Data
Cosine Similarity : 0.3805021755605709


Document: university_data
Cosine Similarity : 0.33445324072379606


Document: airbnb
Cosine Similarity : 0.31181790942470067


Document: Airport Dataset
Cosine Similarity : 0.3006023957564002


Document: placement_data
Cosine Similarity : 0.2810925155158636


Document: Medical Cost Personal Datasets
Cosine Similarity : 0.27437249572826666
Document: **Problem:**The dataset is from a bank, using which we have to predict whether the subject subscribes to a term deposit or not.<br/>

**Attributes:**
The dataset has the following attributes:<br/>
1  - age (numeric)<br/>
2  - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                    "blue-collar","self-employed","retired","technician","services"). <br/>
3  - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)<br/>
4  - education (categorical: "unknown","secondary","primary","tertiary")<br/>
5  - default: has credit in default? (binary: "yes","no")<br/>
6  - balance: average yearly balance, in euros (numeric) <br/>
7  - housing: has housing loan? (binary: "yes","no")<br/>
8  - loan: has personal loan? (binary: "yes","no")<br/>
9  - contact: contact communication type (categorical: "unknown","telephone","cellular") <br/>
10 - day: last contact day of the month (numeric)<br/>
11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")<br/>
12 - duration: last contact duration, in seconds (numeric)<br/>
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)<br/>
14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client      was not previously contacted)<br/>
15 - previous: number of contacts performed before this campaign and for this client (numeric)<br/>
16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")<br/>
**Response Variable (desired target):**<br/>
17 - y - has the client subscribed to a __term deposit?__ (binary: "yes","no")


Similar Documents:


Document: fa_marketing
Euclidean Distance : 15.285989347848366


Document: credit_default
Euclidean Distance : 18.297343915847954


Document: nyc_data
Euclidean Distance : 18.466881669477523


Document: food_dataset
Euclidean Distance : 20.89033885302456


Document: mining_data
Euclidean Distance : 21.512749279492493


Document: heart_survival
Euclidean Distance : 21.82011927931503


Document: university_data
Euclidean Distance : 22.259719941921162


Document: financial_fraud
Euclidean Distance : 22.574040865899516


Document: sales_prediction
Euclidean Distance : 25.093652855839444


Document: Airport Dataset
Euclidean Distance : 25.698646957185844


Document: kerala_floods
Euclidean Distance : 25.906464183860898


Document: mental_health
Euclidean Distance : 26.12008478010657


Document: airbnb
Euclidean Distance : 27.320186915990657


Document: German Credit Data
Euclidean Distance : 29.35977121787327


Document: placement_data
Euclidean Distance : 32.316422549751024


Document: Medical Cost Personal Datasets
Euclidean Distance : 32.59260268150048

In [35]:
final_df.to_csv('metadata.csv')

In [37]:
#from sentence_transformers import SentenceTransformer
#sbert_model = SentenceTransformer('bert-base-nli-mean-tokens')

document_embeddings = sbert_model.encode(final_df['metadata'])

pairwise_similarities=cosine_similarity(document_embeddings)
pairwise_differences=euclidean_distances(document_embeddings)

most_similar(0,pairwise_similarities,'Cosine Similarity')
most_similar(0,pairwise_differences,'Euclidean Distance')

Document: Context Machine Learning with R by Brett Lantz is a book that provides an introduction to machine learning using R. As far as I can tell, Packt Publishing does not make its datasets available online unless you buy the book and create a user account which can be a problem if you are checking the book out from the library or borrowing the book from a friend. All of these datasets are in the public domain but simply needed some cleaning up and recoding to match the format in the book.

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance


Similar Documents:


Document: financial_fraud
Cosine Similarity : 0.6872518062591553


Document: food_dataset
Cosine Similarity : 0.657721221446991


Document: mental_health
Cosine Similarity : 0.639443039894104


Document: fa_marketing
Cosine Similarity : 0.5867990255355835


Document: German Credit Data
Cosine Similarity : 0.5846432447433472


Document: sales_prediction
Cosine Similarity : 0.5768706202507019


Document: placement_data
Cosine Similarity : 0.5758187174797058


Document: airbnb
Cosine Similarity : 0.572365403175354


Document: bank_deposit
Cosine Similarity : 0.565448522567749


Document: heart_survival
Cosine Similarity : 0.5633351802825928


Document: Airport Dataset
Cosine Similarity : 0.5494237542152405


Document: credit_default
Cosine Similarity : 0.5467721223831177


Document: university_data
Cosine Similarity : 0.5371478199958801


Document: mining_data
Cosine Similarity : 0.5045785903930664


Document: nyc_data
Cosine Similarity : 0.35107773542404175


Document: kerala_floods
Cosine Similarity : 0.3340967297554016
Document: Context Machine Learning with R by Brett Lantz is a book that provides an introduction to machine learning using R. As far as I can tell, Packt Publishing does not make its datasets available online unless you buy the book and create a user account which can be a problem if you are checking the book out from the library or borrowing the book from a friend. All of these datasets are in the public domain but simply needed some cleaning up and recoding to match the format in the book.

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance


Similar Documents:


Document: financial_fraud
Euclidean Distance : 11.290189743041992


Document: mental_health
Euclidean Distance : 12.043583869934082


Document: food_dataset
Euclidean Distance : 12.245893478393555


Document: fa_marketing
Euclidean Distance : 12.793675422668457


Document: placement_data
Euclidean Distance : 12.969881057739258


Document: German Credit Data
Euclidean Distance : 13.063386917114258


Document: sales_prediction
Euclidean Distance : 13.170446395874023


Document: heart_survival
Euclidean Distance : 13.232982635498047


Document: bank_deposit
Euclidean Distance : 13.299461364746094


Document: university_data
Euclidean Distance : 13.561766624450684


Document: airbnb
Euclidean Distance : 13.822100639343262


Document: credit_default
Euclidean Distance : 13.837657928466797


Document: Airport Dataset
Euclidean Distance : 14.001956939697266


Document: mining_data
Euclidean Distance : 14.745051383972168


Document: kerala_floods
Euclidean Distance : 17.121713638305664


Document: nyc_data
Euclidean Distance : 17.328874588012695